@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;700&family=Open+Sans:wght@300;600&family=Source+Code+Pro:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #134073, #eef4ed);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0 8px 10px rgb(0, 0, 0, .5);
}

.relogio .grupo{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background: rgb(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;

}

.relogio .tempo{
    font-weight: bolder;
    font-size: 60px;


}
 
.relogio .legenda{
    font-size: 10px;
}